# Logs
client/shippers/logs
client/shippers/*.log
client/shippers/npm-debug.log*
client/shippers/yarn-debug.log*
client/shippers/yarn-error.log*
client/shippers/pnpm-debug.log*
client/shippers/lerna-debug.log*
client/shippers/*node_modules/*
client/shippers/**/.DS_Store
*node_modules/*
**/.DS_Store
client/shippers/dist
client/shippers/dist-ssr
client/shippers/coverage
client/shippers/*.local

client/shippers/cypress/videos/
client/shippers/cypress/screenshots/

# Editor directories and files
client/shippers/.vscode/*
client/shippers/!.vscode/extensions.json
client/shippers/.idea
client/shippers/*.suo
client/shippers/*.ntvs*
client/shippers/*.njsproj
client/shippers/*.sln
client/shippers/*.sw?
client/shippers/.env

server/node_modules
server/public/hot
server/public/storage
server/storage/*.key
server/vendor
server/.idea
server/.env
server/.env.testing
server/.env.backup
server/.phpunit.result.cache
server/.php-cs-fixer.cache
server/Homestead.json
server/Homestead.yaml
server/npm-debug.log
server/yarn-error.log
server/.env.dusk.local
server/.vscode
server/localdb.sqlite
server/todo.md
server/ray.php

